.Bomber {
  width: 750px;
  height: 600px;
  -webkit-box-shadow: -4px 43px 62px 3px rgba(0,0,0,0.33);
  -moz-box-shadow: -4px 43px 62px 3px rgba(0,0,0,0.33);
  box-shadow: -4px 43px 62px 3px rgba(0,0,0,0.33);
  background-color: #6ecd56;
  background-image: linear-gradient(142deg, #bdcd56, #96cd56 31%, #6ecd56 65%, #56cd66);
}
