@import "variables.scss";

button {
  $button-color: $white-alpha;

  width: 35%;
  height: 15%;
  display: inline-block;
  margin-bottom: 5%;
  background-color: transparent;
  border: 4px solid $button-color;
  color: $button-color;
  font-size: 40px;
  text-transform: uppercase;
  outline: none;
}
